[shard_1]
host=127.0.0.1
bolt=7687
user=neo4j
password=password

[shard_2]
host=127.0.0.1
bolt=7688
user=neo4j
password=password

[shard_3]
host=127.0.0.1
bolt=7689
user=neo4j
password=password


[shard_4]
host=192.168.1.111
bolt=7687
user=neo4j
password=password123


[shard_5]
host=192.168.50.58
bolt=7687
user=neo4j
password=azaleodel



[shard_6]
host=192.168.1.130
bolt=7687
user=neo4j
password=AdminPassword2026


[shard_7]
host=192.168.1.162
bolt=7687
user=neo4j
password=AdminPassword2026


[shard_8]
host=192.168.1.148
bolt=7687
user=neo4j
password=AdminPassword2026


