[tables]
user = myNewDatabase, fureh
post = social_db
order = commerce_db
product = commerce_db
person = myNewDatabase, social_db
animal = myNewDatabase
anothermagicnode = fureh
magicnode2 = fureh
distributedperson = myNewDatabase
distributedperson2 = myNewDatabase, fureh
neomeshtest = myNewDatabase, fureh
testappend = myNewDatabase, fureh

