[tables]
user = myNewDatabase, fureh, pio
post = social_db
order = commerce_db
product = commerce_db
person = myNewDatabase, social_db, pio
animal = myNewDatabase
anothermagicnode = fureh
magicnode2 = fureh
distributedperson = myNewDatabase
distributedperson2 = myNewDatabase, fureh
neomeshtest = myNewDatabase, fureh
testappend = myNewDatabase, fureh
driver = db_alpha
car = db_beta
article = pio,ossombe
company = ossombe


